# Backend
DATABASE_URL=postgres://postgres.xxxxx:password@aws-0-regionpool.supabase.co:5432/postgres
PORT=3001
SPHERE_MNEMONIC=
SPHERE_NAMETAG=@otcmarket
NETWORK=testnet

# Frontend
VITE_API_URL=http://localhost:3001/api
